<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="My profile page.">
	<title>Waha's Profile</title>
	<link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/css/main.min.css">
	<style>
		.circle {
    width: 250px;
    box-shadow: -1px 6px 36px 0 rgba(0, 0, 0, 0.75);
        margin-top: 10%;
}
	.about{
		margin-bottom: 20px;
	}
	.description{
	    font-size: 70%;
	    text-align: left;
	    height: 70px;
	    overflow: scroll;
	}
	.keywords{
	    font-size: 70%;
	    text-align: left;
	    height: 50px;
	    overflow: scroll;
	}
	.code{
		font-size: 70%;
	}
	.title{
		height: 60px;
		overflow: scroll;
	}
	.smaller .title{
		font-size: 100% ! important;
		height: 25px;
		margin-top: 5px;
    	margin-bottom: 2px;
	}
	.smaller{
		max-width: calc((100% - 60px) / 6) !important;
	}
	</style>
</head>

<body>
	<div class="container-fluid">
		<!-- nav -->
		<nav class="row">
			<ul class="col-xs-12">
				<a href="#about">
					<li class="menu-item">
						<i class="glyphicon glyphicon-info-sign"></i> About Me
					</li>
				</a>
				<a href="#feature">
					<li class="menu-item"><i class="glyphicon glyphicon-briefcase"></i> Projects
					</li>
				</a>
				<a href="#contact">
					<li class="menu-item"><i class="glyphicon glyphicon-phone"></i> Contact
					</li>
				</a>
				<a href="https://www.linkedin.com/in/waha-li-a5b26a111/" target="_blank">
					<li class="menu-item"><i class="ion-social-linkedin"></i> Linkedin</li>
				</a>
				<a href="https://github.com/gitlwh" target="_blank">
					<li class="menu-item"><i class="ion-social-github"></i> Github</li>
				</a>
				
				<a href="https://waha.blog/" target="_blank">
					<li class="menu-item"><i class="glyphicon glyphicon-book"></i> Blog</li>
				</a>
				<a href="files/Resume.pdf">
					<li class="menu-item"><i class="glyphicon glyphicon-user"></i> Resume</li>
				</a>
			</ul>
		</nav>
		<!-- /nav -->
		<!-- primary header -->
		<header id="about" class="row primary-header">
			<section class="col-xs-12 about">
				<h1 class="name-font text-center">Waha Li</h1>
				<h4 class="title-font text-center">Software/Full Stack Developer in Training</h4>
				<div class="row">
					<figure class="col-xs-12 col-sm-4 text-center">
						<img class="img-responsive center-block circle" src="dist/images/headshot.png" alt="my profile picture">
						<figcaption></figcaption>
					</figure>
					<div class="col-xs-12 col-sm-4 text-primary">
						<h3>About Me:</h3>
						<p>I’m Waha Li, a software developer.</p>
						<p>I’m passionate about building things with code. I'd gain great pleasure if it can be widely approved. I also love try novelty things, technologies and skills which can bring new advanture to my life.
						</p>
						<p>I was student majoring in electrical engineering and mechanical engineering. And I am currently a master student of Computer Science in Lehigh University, seeking for a software developer job.</p>
					</div>
					<div class="col-xs-12 col-sm-4 text-primary">
						<h3>Technical Skills:</h3>
						<p><strong>Languages</strong>: Java, Python, C/C++, JavaScript, HTML5, CSS3, Ruby, Perl, PHP, MySQL, Shell, Matlab, Verilog, Assembly Language.</p>
						<p><strong>Web Frameworks/Libraries</strong>:AngularJS, BackboneJS, jQuery, Bootstrap, Firebase, Gulp, Wordpress, Codeigniter, NodeJS.</p>
						<p><strong>Data mining</strong>:Numpy, Scipy, Pandas, Xgboost, Sklearn, Vowpal Wabbit.</p>
						<p><strong>Others</strong>:Apache, AWS, Wire Shark, Photoshop, Premiere Pro, Lightroom, After Effects.</p>

					</div>
				</div>
			</section>
			<!-- /section -->
		</header>
		<!-- /header -->
		<section class="projects row">
			<header id="feature" class="col-md-12 featured-header">
				<button id="fe-btn" class="btn btn-default text-primary"><i class="glyphicon glyphicon-king"></i>My Projects</button>
				<button id="fs-btn" class="btn btn-default text-primary"><i class="glyphicon glyphicon-queen"></i>Paper and Patents</button>
				<button id="aw-btn" class="btn btn-default text-primary"><i class="glyphicon glyphicon-pawn"></i>Prizes</button>
				<button id="og-btn" class="btn btn-default text-primary"><i class="glyphicon glyphicon-bishop"></i>Organizations</button>
				<button id="mw-btn" class="btn btn-default text-primary"><i class="glyphicon glyphicon-knight"></i>Design works</button>
				<button id="ce-btn" class="btn btn-default text-primary"><i class="glyphicon glyphicon-tower"></i>Certificates</button>
				<button id="mv-btn" class="btn btn-default text-primary"><i class="glyphicon glyphicon-cd"></i>Movies</button>
			</header>
		</section>
		<script id="project-template" type="text-template">
			<% if(image.length>0){ %>
			<img src=<%- image %> alt="<%- title %> image" class="center-block img-responsive img-size">
			<%}%>
			<% if(title.length>0){ %>
			<h4 class="text-large title"><%- title %></h4>
			<%}%>
  				<% if(type.length==0){ %>
				<span class="text-medium">

				<% if(description.length>0){ %>
					<div class = "description"><strong style="color: white;">Description</strong>: <% if(description.length>0){ %><%-description%><% } %></div>
					<% } %>
				
				<% if(keywords.length>0){ %>
					<div class = "keywords"><strong style="color: white;">Keywords</strong>: <%-keywords%></div><% } %>
				<% if(code.length>0){ %>
                    	<div class="code"><%-code%><br></div>
                    <%}%>
                <% if (demo.length) { %>
                    <a href=<%- demo %> target="_blank">
                        DEMO
                    </a>
                    <% if(demo.length>0 && source.length>0 ){ %>
                    	<span class="bar">|</span>
                    <%}%>
                    
				<% } %>
					<% if (source.length) { %>
						<a href=<%- source %> target="_blank">
                      SOURCE
                    </a>
						<% } %>
							<% if (source.length < 1 && demo.length < 1) { %>
								<br>
								<% } %>
									</span>
									<% }else{%>


									<% if(chinesetitle.length>0){ %>
			<h4 class="text-large title"><%- chinesetitle %></h4>
			<%}%>
			<%}%>
		</script>
		<!-- footer -->
		<footer id="contact" class="row grey">
			<div class="col-md-12">
				<h3 class="grey">Contact</h3>
				<hr>
				<ul class="contact-ul">
				</ul>
			</div>
			<script id="contact-template" type="text-template">
				<a href="<%- url %>" target="_blank">
                    <i class="ion-<%- ion %> footer-item"></i>
                </a>
			</script>
		</footer>
		<!-- footer end -->
	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="bower_components/backbone/backbone-min.js"></script>
	<script src="dist/js/main.min.js"></script>
</body>

</html>
